<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="/static/css/main.css">
    <title>room</title>
    <script src="/static/js/room.js"></script>
</head>
<body>

<div class="container">
    <div class="left">
        {{.Message}}

        <h2>現在のルーム</h2>
        <p id="current_server"></p>

        <h2>ユーザー名</h2>
        <p id="username"></p>

        <!-- 参加ユーザー一覧 -->
        <div id="allusers"></div>

        <!-- オンラインユーザー 一覧 -->
        <div id="onlineusers"></div>

        <h3>プライベートチャット送信先ユーザー名</h3>
        <input type="text" id="toname" placeholder="送信先ユーザー名">

        <!-- 送信欄 -->
        <h3>メッセージ</h3>
        <textarea id="message" maxlength="10000" placeholder="メッセージを入力してください" oninput="showTypingStatus()"></textarea>
        <button onclick="send()">送信</button>
        <div id="inputStatus">メッセージを入力中...</div>

        <p><a href="/">戻る</a></p>
        <p><button onclick="deleteorleaveRoom()">Room削除または離脱</button></p>
    </div>

    <!-- メッセージ欄 -->
    <div class="right">
        <h2>メッセージ 一覧</h2>
        <div class="chatback">
            <div class="scroll">
                <ul id="messages"></ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>
